<div class="center">
  <h1>HiFi Consult, Histora</h1>
  <br>
  <br>
  <br>
  <div class="history-page">
    <div class="history-event">
      <img ngSrc="/img/history-img/1963-Ollebild.jpg" height="782" width="600" alt="">
      <p>
        Hificonsult startades av Olle Mårtensson <strong>1972</strong>. På Torggatan i Alingsås sålde eldsjälen Olle framförallt hifiutrustning till stadens befolkning.
        <br><br>
        Med åren växte rörelsen och under ett par decennier var butiken en av landets största på tung Hifi.
      </p>
    </div>
    <div class="history-event" style="position: relative; right:100px; top: 45px">
      <img ngSrc="/img/history-img/alingsåscaferegn.jpg" height="438" width="900" alt="">
      <p>
        Butikens plats på Alingsås gågata fram till år <strong>1988</strong>
        <br><br>
        Vid 80-talets slut byggdes en stor butik vid Stråhles Allé. Där såldes "allt", TV-apparater, Bang & Olufsen, klockradio,low-Fi, mid-Fi och High-End
      </p>
    </div>
    <div class="history-event">
      <img ngSrc="/img/history-img/Olle-i-stora-rummet.jpg" height="400" width="532" alt="">
      <p>
        Olle med QRS Jupiter Mk2, en våldsam skapelse med dubbla 15" basar och 2 meter i höjd
        <br><br>
        Under <strong>2002</strong> blir Olle sjuk och en lång resa börjar. Den slutar julafton 2003 då han går bort.
      </p>
    </div>
    <div class="history-event" style="position: relative; bottom: 250px; right: 115px">

      <p style="width: 700px; margin: auto">
        Eftersom utgången var given planerades det en del i sjuksängen den där sista hösten. Som extrahjälp i butiken sedan 1996 främst på Arkenmässan och senare som kringresande för Bladelius, QRS och Transparent Cable kom ju frågan om jag ville "köpa den stol som skulle bli ledig".
        Och det ville jag ju, även om orsaken var hemsk på alla sätt. Så blev det och mitt livs roligaste jobb tog sin början.
        <br><br>
        <strong>2004</strong> Här syns de nya kollegorna i en annons från -04. Jupiter står kvar, Burmester har flyttat in, liksom blommor på bordet.
      </p>
      <img ngSrc="/img/history-img/Ove-Sladd04.jpg" height="506" width="628" alt="">
      <p><strong>2008</strong> meddelade Ove att han ville gå i "golf-pension" och jag blev ensam ägare senare samma år.</p>
    </div>
    <div class="history-event" style="position: relative; bottom: 120px">
      <img ngSrc="/img/history-img/Butiksavedalen.jpg" height="305" width="600" alt="">
      <p style="width: 650px; margin: auto">
        <strong>2014</strong> minskade vi lokalen med hälften drygt. Sävedalens Saluhall flyttade in i den södra delen. Vi hade önskat ett rum till men i den här typen av diskussioner får man anpassa sig och en saluhall måste ju ha större publikt utrymme än beredningsrum en trappa ned. Nu är butiken 190 m2 och det funkar!
      </p>
    </div>
    <div class="history-event" style="position: relative; bottom: 120px; right: 100px">
      <img ngSrc="/img/history-img/vattenknas1.jpg" height="960" width="720" alt="">
      <p style="width: 730px; margin: auto">
        Lagom till hösten <strong>2016</strong> öppnar vi butiken igen och då har jag hittat en butikslokal jag tror på i Örebro som nästan är färdig. I rådande läge blir det till att måla och lägga golv etc själv.
      </p>
    </div>
    <div class="history-event" style="position: relative; bottom:600px; left: 100px">
      <div style="display: grid; grid-template-columns: 1fr 1fr; width: 1100px;">
        <img style="display: inline-block; right: 1px" ngSrc="/img/history-img/birgittacafé.jpg" height="667" width="500" alt="">
        <img style="display: inline-block; margin-left: 1px" ngSrc="/img/history-img/sanktaBirgitta-bygg.jpg" height="667" width="500" alt="">
      </div>
      <p>
        <strong>2018</strong> säljer jag Sävedalsbutiken till Per Nilsson som varit anställd ett par år.
        <br><br>
        <strong>2020 - 2024</strong> råder pandemi och just vår typ av verksamhet gynnas av att folk inte åker till Thailand eller går på konsert.
      </p>
    </div>
  </div>
  <div style="position: relative; bottom: 500px">
    <h1>Hificonsult, nuläge:</h1>
      <div style="display: grid; grid-template-columns: 2fr 1fr">
        <h2 style="width: 800px; margin: auto">
          Det där är historien så långt om Hificonsult Alingsås som blev Hificonsult i Sävedalen och som nu är Hificonsult på Sancta Birgittagatan i Örebro.
          Många av Er vet hur kopplingen ser ut till Örebro/Karlskoga och varför jag bara varit på plats i butiken i Alingsås/Sävedalen på halvtid. För Er andra kan jag berätta att jag flyttade till Värmland 1989, hamnade i karlskoga 1999, skilde mig 2004. Ville inte bli weekendpappa åt min grabb utan har haft honom 50% större delen av hans uppväxt. Dubbelboende alltså, udda och jämna veckor ... Många mil blir det och inte fullt fokus på affärerna.
          <br>
          <br>
          För verksamheten har det haft ett ganska högt pris att inte vara närvarande på heltid men det har i backspegeln varit värt det.
          <br>
          <br>
          Affärsidén har idag smalnats av till förmån för mer "renlärig" hifi, så som begreppet är tänkt i grunden. Jag är trött på all marknadsföring av märken och brands när know-how om placering är typ tre gånger så viktigt som vad det står på apparaterna.
          mvh
          Ingemar "Sladd" Carlsson
          Arrangerade Göteborg Hifishow (Arkenmässan) mellan 2004 och 2022. Upphovsman och ledare av "<a href="https://lifetime-hifi.se/">Swedish Hifi Lifetime Achievement</a>" som delas ut vartannat år.
          </h2>
        <img style="position: relative; right: 270px" ngSrc="/img/history-img/sladd-18_1.jpg" height="440" width="500" alt="">
        <h2 style="width: 800px; margin: auto">
          <br>
          <br>
          <br>
          Bäst på traditionell Hifi, dvs 2 högtalare, kraftiga slutsteg, ohörbara kablar och kom inte och påstå att CD-mediet har för dålig upplösning...
          <br>
          <br>
          Hatar komprimering, likgiltig musik och den moderna trenden med kala ekande hem, kallas visst "clean" av de som tycker mattor, gardiner och böcker är "mormorsprylar".
          <br>
          <br>
          Vilket ger att deras mormor kan spela Hifi hemma, men inte dom själva ...
          <br>
          <br>
          Hificonsult Örebro är också stark opponent mot Kinesisk Hifi så långt det är möjligt. Av flera skäl, främst humanitära och demokratiska. Vi borde sluta föda skurkstater.
        </h2>
        <div style="position: relative; right: 400px">
          <img ngSrc="/img/history-img/IMG_4549.jpg" height="512" width="683" alt=""/>
          <p>En bild från 2018</p>
        </div>
        <div>
          <img ngSrc="/img/history-img/Butik-stora2-nov-21.jpg" height="512" width="856" alt=""/>
          <p>En bild från 2021</p>
        </div>
        <div style="position: relative; right: 400px">
          <img ngSrc="/img/history-img/Honung2.jpg" height="500" width="856" alt=""/>
          <p>2023 lirar vi på Octave omutliga rörförstärkeri, Accustic Arts fenomenala sortiment, himlen-är-nära-förstärkare från Vinnie Rossi, streamers och switchar från SOtM och Merasons Scweiziska precisions-under...</p>
        </div>
    </div>


  </div>
</div>
