<div class="center">
  <h1>HiFi Consult, Histora</h1>
  <br>
  <br>
  <br>
  <div class="history-page">
    <div class="history-event">
      <img ngSrc="/history/1963-Ollebild.jpg" height="782" width="600" alt="">
      <p>
        Hificonsult startades av Olle Mårtensson <strong>1972</strong>. På Torggatan i Alingsås sålde eldsjälen Olle framförallt hifiutrustning till stadens befolkning.
        <br>
        Med åren växte rörelsen och under ett par decennier var butiken en av landets största på tung Hifi.
      </p>
    </div>
    <div class="history-event">
      <img ngSrc="/history/alingsåscaferegn.jpg" height="438" width="900" alt="">
      <p>

      </p>
    </div>
  </div>
</div>
