

<div class="center">
  <img class="slideShow" ngSrc="/slideShow-3.jpeg" height="480" width="638">

  <h2>Produkter</h2>
  <div class="grid-buttons">
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/cables.jpg" alt="Kablar" height="425" width="398">
      <h4>Kablar</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/cd-player.jpg" alt="Skivspelare" height="400" width="400">
      <h4>Skivspelare</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/dac.jpg" alt="DAC" height="400" width="400">
      <h4>DAC</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/prestep.jpg" alt="Forsteg" height="400" width="400">
      <h4>Försteg</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/amplifier.jpg" alt="Forstarkare" height="400" width="400">
      <h4>Förstärkare</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/speakers.jpg" alt="Hogtalare" height="400" width="400">
      <h4>Högtalare</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/headphones.jpg" alt="horlurar" height="400" width="400">
      <h4>Hörlurar</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/headphones-amplifier.jpg" alt="Horlurar Forstarkare" height="400" width="400">
      <h4>Hörlurar Förstärkare</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/media-player.jpg" alt="media spelare" height="400" width="400">
      <h4>Media Spelare</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/pickup.jpg" alt="Pickup" height="425" width="398">
      <h4>Pick-uper</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/phonostep.jpg" alt="Phono Steg" height="400" width="400">
      <h4>Phono Steg</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/rack.jpg" alt="Rack" height="425" width="398">
      <h4>Rack</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/pipe.jpg" alt="Ror" height="425" width="398">
      <h4>Rör</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/lp-player.jpg" alt="LP Spelare" height="425" width="398">
      <h4>LP Spelare</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/end-step.jpg" alt="Slutsteg" height="425" width="398">
      <h4>Slutsteg</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/streamer.jpg" alt="Streamer" height="400" width="374">
      <h4>Streamer</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/power-isolator.jpg" alt="Stromrenare" height="425" width="398">
      <h4>Strömrenare</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/addons.jpg" alt="Tillbehor" height="400" width="375">
      <h4>Tillbehör</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/tone-arm.jpg" alt="tonarm" height="425" width="398">
      <h4>Tonarm</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/anti-vibration.jpg" alt="Vibration Dampare" height="425" width="398">
      <h4>Vibration Dämpare</h4>
    </div>
    <div class="grid-button">
      <img ngSrc="/menu-grid-1/power-supply.jpg" alt="Natdel" height="425" width="398">
      <h4>Nätdel</h4>
    </div>
  </div>
</div>
