<div class="header-non-moveble">
  <div class="center">
    <img ngSrc="/img/logo.jpg" height="200" width="472" alt="">
  </div>
</div>
<hr>
<div class="center">
  <div class="menu">
    <div class="menu-text-div" onclick="window.location.pathname = ''">
      <h4>Hem</h4>
    </div>
    <div class="menu-text-div">
      <h4>Hembesök</h4>
    </div>
    <div class="menu-text-div" onClick="window.location.pathname = 'history'">
      <h4>Histora</h4>
    </div>
    <div class="menu-text-div">
      <h4>Örebro</h4>
    </div>
    <div class="menu-text-div" onclick="window.location.href = 'https://hificonsult.se/'">
      <h4>Shop</h4>
    </div>
  </div>
</div>
<hr>

<router-outlet />


<div id="footer">
  <div class="footer-sections">
    <h5>Om Oss</h5><br>
    <a>Våra Butiker</a><br>
    <a>Kontaka Oss</a><br>
    <a>Köpvillkor</a><br>
    <a href="/img/history-img">Historia</a><br>
    <a>Bankinformation</a><br>
    <a>Privacy Policy</a><br>
  </div>
  <div class="footer-sections">
    <h5>Mitt Konto</h5><br>
    <a>Mina Beställingar</a><br>
    <a>Mina Kediteringar</a><br>
    <a>Mina Adresser</a><br>
    <a>Min Persoliga Sida</a><br>
    <a>Mina Kuponger</a><br>
  </div><div class="footer-sections">
    <h5>Butiksinformation</h5>
    <a class="non-click-lnk" style="cursor: auto;">HiFi Consult AB</a><br><br>
    <a href="https://maps.app.goo.gl/ZZZdSmBH9msKQw4t8">
      Sancta Birgittagatan 5<br>
      702 14 örebro<br>
      SWEDEN
    </a><br><br>
    <a href="tel:+46706027075">Ring Oss: +46 (0)70-602 70 75</a><br>
    <a href="tel:+46706027075">Mejla Oss: hificonsult&#64;mac.com</a><br>
  </div>
  <div class="footer-sections">
    <h5>Följ Oss</h5><br>
    <a href="https://www.facebook.com/hificonsult">Facebook</a><br>
    <br><br>
    <h5>Nyhetsbrev</h5>
    <input type="email" placeholder="E-Postadress">
    <button style="margin-left: 2px">Registera</button>
  </div>
  <a class="non-click-lnk">&copy; HiFi Consult Örebro AB 2024</a>
</div>
