#footer{
  width: 102%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
  right: 10px;
  top: 10px;
  height: min-content;
  display: grid;
  background-color: #cfcfcf;
  margin: auto;
  text-align: left;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

.footer-sections{
  display: inline-block;
}

.footer-sections > h5{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.footer-sections > a:hover {
  background-color: whitesmoke;
}

.non-click-lnk:hover{
  background-color: #cfcfcf!important;
}

.slideShow{
  height: 100vh;
}

.menu{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.menu-text-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-theme-color-1);
  color: #fff;
  height: 40px;
}

.menu-text-div:hover{
  background-color: #fff;
  color: var(--main-theme-color-1);
  margin: auto;
  cursor: pointer;
}

.menu-text-div > h4{
  margin: auto;
}
