/* You can add global styles to this file, and also import other style files */
:root {
  --main-theme-color-1: #e5414d;
}

*{
  font-family: "Roboto", monospace;
}

.center{
  margin-left: auto;
  text-align: center;
}
